{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    {% comment %} <link rel="stylesheet" href="{% static 'register.css' %}"> {% endcomment %}
</head>
<body>
    <div class="wrapper active-popup">
        <div class="form-box-register">
            <div class="close-icon">
            </div>
            <h2>Register</h2>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="input-box">
                    <label for="username">Username</label>
                    {{form.username}}
                </div>

                <div class="input-box">
                    <label for="email">Email</label>
                    {{form.email}}

                    
                </div>

                <div class="input-box">
                    <label for="password1">Password</label>
                    {{form.password1}}

                </div>

                <div class="input-box">
                    <label for="password2">Confirm Password</label>
                    {{form.password2}}

                </div>
                {{form.errors}}

                <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>

                <input type="submit" class="Registerbtn" value="Register" name="Register">
            </form>
        </div>
    </div>
</body>

</html>
