* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 2em;
    color: #fff;
    font-weight: 500;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: scale(0);
    transition: .5s ease;
    transform-origin: right;
}

.navigation a:hover::after {
    transform: scale(1);
    transform-origin: left;
}

.btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    font-size: 1.1em;
    cursor: pointer;
    font-weight: 500;
    margin-left: 40px;
    color: #fff;
    transition: 0.4s;
}

.btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.wrapper {
    position: relative;
    width: 440px;
    height: 440px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease, height .2s ease;
    overflow: hidden;
    transform: scale(0);
}

.wrapper.active {
    height: 550px;
}

.wrapper .form-box-login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box-login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper .form-box-register {
    position: absolute;
    transition: none;
    transform: translateX(400px)
}

.wrapper.active .form-box-register {
    transition: transform .18s ease;
    transform: translateX(0px);
}

.wrapper .close-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    background: #162938;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    z-index: 1;
}

.icon {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 6px;
    margin-top: 5px;
}

.wrapper .form-box-login {
    width: 100%;
    padding: 40px;
}

.form-box-login h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.form-box-register h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box .icon {
    position: absolute;
    height: 45px;
    width: 45px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    margin-bottom: 15px;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -6px;
    left: 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #162938;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: #162938;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    text-align: center;
}

.remember-forgot a {
    font-size: 1.1em;
    margin-left: 50px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.3s ease;
    color: #162938;
}

.remember-forgot a:hover {
    color: #fff;
    text-decoration: underline;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 5px;
}

.btn {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    transition: 0.5s;
    margin: 10px 0 20px;
    cursor: pointer;
}

.btn:hover {
    background: #fff;
    color: #162938;
}

.login-register {
    text-align: center;
    font-size: 1.1em;
    color: #162938;
    font-weight: 500;
}

.login-register a {
    font-size: .9em;
    font-weight: 400;
    text-decoration: none;
    margin-left: 15px;
    transition: 0.3s ease;
    color: #162938;
}

.login-register a:hover {
    color: #fff;
    text-decoration: underline;
}

.Registerbtn {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    transition: 0.5s;
    margin: 10px 0 20px;
    cursor: pointer;
}

.Registerbtn:hover {
    background: #fff;
    color: #162938;
}
